<div id="menu" class="primary-color">
    <ul class="primary-text-color">
        <img src="app/assets/image/logo.png">
        <li class="active" (click)="show('student')"><a href="#">Student</a></li>
        <li (click)="show('module')"><a href="#">Module</a></li>
        <li (click)="show('course')"><a href="#">Course</a></li>
    </ul>
</div>
<div class="container">
    <student-edit *ngIf="pages.student"></student-edit>
    <course-edit *ngIf="pages.course"></course-edit>
    <module-edit *ngIf="pages.module"></module-edit>
</div>
