ul.nav {
	display: block;
	padding: 10px;
	margin: 10px;
	text-align: center;
	overflow: hidden;
	background: rgba(3, 211, 211, 0);
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, aquamarine, darkturquoise);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, aquamarine, darkturquoise);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, aquamarine, darkturquoise);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, aquamarine, darkturquoise);
}

ul#nav li {
	margin-right: 2em;
	float: left;
	list-style: none;
}

ul#nav li a {
	font: bold 1.3em Helvetica, Arial, Sans-Serif;
	text-transform: uppercase;
	color: #9c5959;
	text-shadow: 0 1px 3px #c4bda6;
	text-decoration: none;
}

ul#nav li a:hover {
	color: #eee9d9;
	text-shadow: 0 2px 3px #4c2222;
}