<form (submit)="form.add($event)" class="white-pink">
    <h1>Add course
        <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
        <span>Course ID :</span>
        <input type="text" [(ngModel)]="newCourse.courseId" name="courseId" placeholder="Enter course id" />
    </label>
    <label>
        <span>Course name :</span>
        <input type="text" [(ngModel)]="newCourse.courseName" name="courseName" placeholder="Descriptive course name" />
    </label>
    <label>
        <span>Start date :</span>
      <ng2-datepicker [(ngModel)]="newCourse.startDate" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
    </label>
    <label>
        <span>End Date :</span>
        <ng2-datepicker [(ngModel)]="newCourse.endDate" [ngModelOptions]="{standalone: true}"></ng2-datepicker>
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Submit" />
    </label>
</form>
<div class="course-list">
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr [ngStyle]="{'background-color': getColor(i)}" *ngFor="let course of courseList; let i = index">
                <td>
                    <h4>{{course.courseName}}</h4>
                </td>
                <td>
                    <h5>{{course.courseId}}</h5>
                </td>
                <td>
                    <h5>{{course.startDate}}</h5>
                </td>
                <td>
                    <h5>{{course.endDate}}</h5>
                </td>
                <td>
                    <button type="" class="btn btn-danger pull-right" name="button" (click)="form.remove(course._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>