<form (submit)="form.add($event)" class="yellow-grey light-primary-color">
    <h1>Add course
    </h1>
    <label>
        <span>ID :</span>
        <input type="text" [(ngModel)]="newCourse.courseId" name="courseId" placeholder="Enter course id" />
    </label>
    <label>
        <span>Name :</span>
        <input type="text" [(ngModel)]="newCourse.courseName" name="courseName" placeholder="Descriptive course name" />
    </label>
        <input type="submit" class="btn" value="Submit" />
    
</form>

<div class="course-list">
    <table class="table">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Course ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let course of courseList; let i = index">
                <td>
                    <h4>{{course.courseName}}</h4>
                </td>
                <td>
                    <h5>{{course.courseId}}</h5>
                </td>
                <td>
                    <button type="" class="btn btn-danger pull-right" name="button" (click)="form.remove(course._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>