<form (submit)="form.add($event)" class="yellow-grey">
    <h1>Add course
    </h1>
    <label>
        <span>ID :</span>
        <input type="text" [(ngModel)]="newCourse.courseId" name="courseId" placeholder="Enter course id" />
    </label>
    <label>
        <span>Name :</span>
        <input type="text" [(ngModel)]="newCourse.courseName" name="courseName" placeholder="Descriptive course name" />
    </label>
    <label>
        <span></span>
        <input type="submit" class="btn" value="Submit" />
    </label>
</form>
<div class="course">
    <div class="card" *ngFor="let course of courseList; let i = index">
        <img src="app/assets/image/cards/img_avatar2.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>{{course.courseName}}</b></h4>
            <p>{{course.courseId}}</p>
            <button type="" class="btn btn-danger" name="button" (click)="form.remove(course._id)">Delete</button>
        </div>
    </div>
</div>