<!--component html goes here -->
<form class="well" (submit)="addStudent($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="newStudent.studentId" name="studentId" class="form-control" placeholder="Student ID" value="">
        <input type="text" [(ngModel)]="newStudent.firstName" name="firstName" class="form-control" placeholder="Student firstName" value="">
        <input type="text" [(ngModel)]="newStudent.lastName" name="lastName" class="form-control" placeholder="Student lastName" value="">
        <input type="submit" name="Submit" value="Submit" class="btn-primary pull-right">
    </div>
</form>
<div class="student-list">
    <div class="row" *ngFor="let student of studentList">
        <div class="col-sm-3">
            {{student.studentId}}
        </div>
        <div class="col-sm-3">
            {{student.firstName}}
        </div>
        <div class="col-sm-3">
            {{student.lastName}}
        </div>
        <div class="col-sm-3">
            <button type="" class="btn btn-danger pull-right" name="button" (click)="removeStudent(student._id)">Delete</button>
        </div>
    </div>

</div>
