<!--component html goes here -->
<form class="well" (submit)="addStudent($event)">
    <div class="form-group">
        <input type="text" [(ngModel)]="newStudent.studentId" name="studentId" class="form-control" placeholder="Student ID" value="">
        <input type="text" [(ngModel)]="newStudent.firstName" name="firstName" class="form-control" placeholder="Student firstName"
            value="">
        <input type="text" [(ngModel)]="newStudent.lastName" name="lastName" class="form-control" placeholder="Student lastName"
            value="">
        <input type="submit" name="Submit" value="Submit" class="btn-primary pull-right">
    </div>
</form>
<div class="student-list">
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info" *ngFor="let student of studentList">
                <td>
                    <h5>{{student.firstName}} {{student.lastName}}</h5>
                </td>
                <td>
                    <h5>{{student.studentId}}</h5>
                </td>
                <td>
                    <button type="" class="btn btn-danger pull-right" name="button" (click)="removeStudent(student._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>