<form (submit)="form.add($event)" class="white-pink">
    <h1>Add student
        <span>Please fill all the texts in the fields.</span>
    </h1>
    <label>
        <span>Student id :</span>
        <input type="text" [(ngModel)]="newStudent.studentId" name="studentId" placeholder="Enter student id" />
    </label>
    <label>
        <span>First name :</span>
        <input type="text" [(ngModel)]="newStudent.firstName" name="firstName"  placeholder="Enter student's firstName" />
    </label>
    <label>
        <span>Last name :</span>
    		<input type="text" [(ngModel)]="newStudent.lastName" name="lastName" placeholder="Enter student's lastName">
    </label>
    <label>
        <span>&nbsp;</span>
        <input type="submit" class="button" value="Submit" />
    </label>
</form>
<div class="student-list">
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngStyle]="{'background-color': getColor(i)}" *ngFor="let student of studentList; let i=index;">
                <td>
                    <h4>{{student.firstName}} {{student.lastName}}</h4>
                </td>
                <td>
                    <h5>{{student.studentId}}</h5>
                </td>
                <td>
                    <button type="" class="btn btn-danger pull-right" name="button" (click)="form.remove(student._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
